.numberPicker {
	display: none;
	
	.insertNumber & {
		display: block;
	}
	
	.numberPickerItem {
		display: table;
		width: 33%;
		height: 33%;
		float: left;
		font-size: 1.8vw;
		line-height: 100%;
		
		text-align: center;
		cursor: pointer;
		color: #fbc9cb;
		
		.numberPickerItemInner {
			vertical-align: middle;
			display: table-cell;
			
			&:hover {
				text-decoration: none;
				color: white;
			}
		}
		
		
	}
}